@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
}

body {
    background-color: rgb(232,229,194);
}

h1 {
    font-family: 'idroid';
    font-size: 3em;
    
}

h2 {
    background-image: linear-gradient(to right, #7FDFA4, #C5EBD6, #DCF5E7)
}

header {
    background-image: linear-gradient(to bottom, #29A05D, #126736, #043D1D);
    padding: 10px;
    margin: -8px; 
    text-align: center;
}

nav {
    text-align: left;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    margin: 9px 500px
}

footer {
    background-color: rgb(26,92,56);
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

section {
    background-color: white;
    padding: 100px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    margin: 9px 500px
}

#titulo {
    background-color: rgb(47,168,102);
}